.container {
	display: inline-block;
	position: relative;
	margin: 0 4px;
}

.content {
	display: inline-flex;
	padding: 4px 8px;
}

.text {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.408px;
	color: #41522E;
	margin-right: 8px;
}

.container input {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.wrapper {
	border: 1px solid #41522E;
	border-radius: 4px;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container input:not(:checked)~div {
	opacity: 0.4;
}

.container input:checked~div {
	opacity: 1;
}

.arrows {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#filter {
	fill-opacity: 1;
}