.container {
	margin-bottom: 24px;
	overflow: auto;
}

@media (max-width: 1024px) {
	.container {
		margin: 0 24px 0 0;
		width: 40%;
	}

}

@media (max-width: 768px) {
	.container {
		margin: 0 0 24px 0;
		width: 100%;
	}
}