.container {
	display: inline-flex;
	flex-direction: column;
}

.container:last-child {
	margin-bottom: 25px;
}

.textInput {
	border: 1px solid #C9CACC;
	border-radius: 4px;
	height: 50px;
	padding: 16px;

	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: #424242;
	margin-bottom: 7px;
}

.textInput::-webkit-calendar-picker-indicator {
	background: none;
}

.textInput::-webkit-clear-button {
	display: none;
}

.textInput[type="date"] {
	background: #fff url('../../../assets/images/calendar.svg') 97% 50% no-repeat;
}


.inputLabel {
	display: inline-flex;
	flex-direction: column;

	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #424242;
	gap: 7px;
}

.error,
.error>input {
	color: #EB1717;
}

.errorText {
	height: 14px;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #EB1717;
}